<h1>Books</h1>
<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= @book.description %></p>

<% if current_user && current_user.editor? %>
  <%= link_to "Edit book", edit_book_path(@book) %>
<% end %>

<% if current_user && current_user.admin? %> 
  <p class="recipe-delete"><%= link_to "Delete", book_path(@book), method: "delete" %><p> 
<% end %>
<%= link_to "Back", root_path %>
